<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button style="color: white" (click)="close()">Back</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>


  <ion-accordion-group  animated="false"  [value]="'first11'">
    <ion-accordion toggleIcon="chevron-forward-outline" [value]="'first11'">
      <ion-item slot="header">
        <ion-label>Broken Accordion!</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">First Content</div>
    </ion-accordion>
    <ion-accordion toggleIcon="chevron-forward-outline"  [value]="'second'">
      <ion-item slot="header">
        <ion-label>Second Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Second Content</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Third Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Third Content</div>
    </ion-accordion>
  </ion-accordion-group>


</ion-content>
